<h2>Albums for: {{artistName}}</h2>
<div class='list-items'>
  {{#each albums}}
    <div class='item'>
      <picture>
        <img src='{{this.imageUrl}}' alt='{{this.name}} image' />
      </picture>
      <h3>{{this.name}}</h3>
      <a class='details' href='/album/{{this.id}}'>View Tracks</a>
    </div>
  {{/each}}
</div>