<h2>Artists for the query: {{artist}}</h2>
<div class='list-items'>
  {{#each artists}}
    <div class='item'>
      <picture>
        <img src='{{this.imageUrl}}' alt='{{this.name}} image' />
      </picture>
      <h3>{{this.name}}</h3>
      <a class='details' href='/albums/{{this.id}}'>View Albums</a>
    </div>
  {{/each}}
</div>